[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ABSurvTDC"]
	path = ABSurvTDC
	url = https://github.com/cran/ABSurvTDC
[submodule "BaseTempSeed"]
	path = BaseTempSeed
	url = https://github.com/cran/BaseTempSeed
